@use '../../../../styles/abstracts/variables' as vars;

.nav {

  &__item {
    margin: 0 vars.$spacing-xl 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    font-family: vars.$font-family-secondary;
    font-size: vars.$font-size-base;
    line-height: vars.$line-height-title;
    letter-spacing: 2px;
    color: vars.$text-color;
    transition: color .4s ease;

    &::before {
      content: ' ';
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: vars.$primary-color;
      opacity: 0;
      transition: opacity .4s ease, width .4s ease;
    }

    &:hover {
      color: vars.$primary-color;

      &::before {
        left: 0;
        width: 100%;
        opacity: 1;
      }
    }

    &.active {
      color: vars.$primary-color;

      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }
}