@use '@/styles/abstracts/variables' as vars;
@use '@/styles/abstracts/mixins' as mixins;

.social {

  &__item {
    margin: 0 vars.$spacing-lg 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include mixins.flex-center;
    width: 24px;
    height: 24px;

    svg {
      width: 100%;
      height: 100%;

      path {
        transition: fill .4s, stroke .4s;
      }
    }

    &:hover {

      svg.fill {

        path {
          fill: vars.$primary-color;
        }
      }

      svg.stroke {

        path {
          stroke: vars.$primary-color;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {

    &__item {
      margin-right: vars.$spacing-md;
    }

    &__link {
      width: 20px;
      height: 20px;
    }
  }
}